# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

**Release*
**Debug*

# Executables
*.exe
*.out
*.app
*.suo

.vs/all/v14/.suo
*.db
*.log
*.tlog
*.lastbuildstate
*.cache
*.pdb
*.res
*.log
*.lastbuildstate
*.ipch
*.exp
*.iobj
*.ipdb
all.VC.VC.opendb
